<header class="header" data-controller="header">
  <div class="header-preheader container-responsive">
    <div class="header-wrapper">
      <a href="#" class="header-logo-wrapper">
        <img src="assets/images/logo.svg" alt="Lidl Logo" class="header-logo" />
      </a>
      <ul class="" role="navigation" aria-label="User Navigation">
        <li class="header-list-item">
          <a
            [routerLink]="['/']"
            class="header-list-item-link header-usernavigation-link"
            aria-label
          >
            <div class="header-usernavigation-icon">
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                focusable="false"
              >
                <title>Placeholder</title>
                <use
                  xlink:href="assets/images/icon__sprite.svg#placeholder"
                ></use>
              </svg>
            </div>
            <span class="header-usernavigation-title">Seite 1</span>
          </a>
        </li>
        <li class="header-list-item">
          <a
            [routerLink]="['/page2']"
            class="header-list-item-link header-usernavigation-link"
            aria-label
          >
            <div class="header-usernavigation-icon">
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                focusable="false"
              >
                <title>Placeholder</title>
                <use
                  xlink:href="assets/images/icon__sprite.svg#placeholder"
                ></use>
              </svg>
            </div>
            <span class="header-usernavigation-title">Seite 2</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-cookie-banner></app-cookie-banner>
