.container {
  max-width: 1000px;
}

.card {
  cursor: pointer;
}

.custom-day {
  text-align: center;
  padding: 0.285rem 0.25rem;
  display: inline-block;
  height: 100%;
  width: 100%;
  flex: 1;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #0050aa;
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}