<div class="container">
  <br>

  <swiper>
    <ng-template swiperSlide>
      <div>Slide</div>
    </ng-template>
  
    <ng-template swiperSlide *ngFor="let slide of [1,2,3]">
      <div>Slide</div>
    </ng-template>
  </swiper>

  <div class="card-deck">
    <a class="card" (click)="selectGTM()">
      <img
        src="https://storage.googleapis.com/sit-travel-dev-assets/products/MLA459/slider_3_medium.jpg"
        alt="Card image cap"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">Rundreise Istanbul GTM Call</h5>
        <p class="card-text">Lorem 3</p>
      </div>
    </a>
    <a class="card" (click)="selectItem()">
      <img
        src="https://storage.googleapis.com/sit-travel-dev-assets/products/MLA459/slider_3_medium.jpg"
        alt="Card image cap"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">Rundreise Istanbul 2</h5>
        <p class="card-text">Lorem 2</p>
      </div>
    </a>
    <a class="card" (click)="selectItem()">
      <img
        src="https://picsum.photos/200"
        alt="Card image cap"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">Rundreise Istanbul 3</h5>
        <p class="card-text">Lorem 3</p>
      </div>
    </a>
  </div>
</div>


